/******************************* link ***************************************/
a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
}

/***********************************     header *****************************************/

.homehead {
    position: relative;
    color: white;
    padding-bottom: 10px;
}

.homehead::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 102%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
}

.homehead:hover::after {
    transform: scaleX(1);
}


.bloghead {
    position: relative;

    color: white;
    padding-bottom: 10px;
}

.bloghead::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
}

.bloghead:hover::after {
    transform: scaleX(1);
}

.abouthead {
    position: relative;

    color: white;
    padding-bottom: 10px;
}

.abouthead::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
}

.abouthead:hover::after {
    transform: scaleX(1);
}

#beyond {
    float: left;
    font-size: 270%;
    margin-left: 4vw;
    margin-top: 4.1vh;
    position: inherit;
    color: white;
}

#hai {
    float: right;
    font-size: 270%;
    margin-right: 3vw;
    margin-top: 4.4vh;
    margin-left: -20%;
    position: relative;
    display: flex;


}

.header {

    margin: 0px;
    width: 100%;
    height: 11.5vh;
    font-family: 'Cinzel', serif;
    font-style: italic;
    position: relative;
    background-color: inherit;
    

}

.twitter {
    border: 0px;
    background-blend-mode: inherit;
    font-size: 40px;
    margin-bottom: 2vw;
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.dropbtn {
    background-color: inherit;
    border: none;
    cursor: pointer;

    position: relative;


}

#imga {
    width: 30px;
    height: 40px;

}

/****************************body*****************************/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    margin: 0px;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    background-blend-mode: multiply;
    overflow: visible;
    position: relative;

}


/*************************** footer ******************************/

#footer {
    text-align: center;
    color: white;


    padding-bottom: 1%;
}

#f1 {
    margin-left: 4vw;
    font-size: 2.5vh;
    font-style: italic;
    font-family: 'Cinzel', serif;
}

#f2 {
    font-size: 1.5vh;
    font-family: 'Rajdhani', sans-serif;
}

/************************************************************************/

/*******************************phone hamburger*****************************/

.dropdown,
#downdr {
    display: flex;
}



/********************not a phone**************************/

@media screen and (min-width:675px) {
    .dropbtn {
        visibility: hidden;

    }

    #downdr {

        display: flex;
    }

    #link1,
    #link2,
    #link3,
    #link4 {
        visibility: visible;


    }



    #hai {
        font-size: 240%;

    }


}


/************************phone***************************************/
@media screen and (max-width:675px) {

    .dropbtn {
        visibility: visible;
    }

    #link1,
    #link2,
    #link3,
    #link4 {
        visibility: hidden;
        padding-bottom: 55px;
        font-style: normal;


    }

    #link3 {
        margin-left: 3vw;
        padding-bottom: 56px;
    }

    #link4 {
        margin-left: 7vw;
    }

    #downdr {
        margin-top: 22vh;
        position: absolute;
        margin-left: -53vw;
        display: block;
    }

    #nm{
        font-size: 240%;
        margin-top: 3vw;
    }
    #ipara{
        font-size: 120%;
    }

    .header{
        margin-bottom: 3vw;
        margin-top: -3vw;
    }


}

@media screen and (max-width:950px)
{
    #one{
        margin-top: 4.5vw;
        height: fit-content;
    }
    #intro2{
        margin-top: 1vw;
    }
}