/* welcome-section.css */
.welcome-section {
    grid-column: 2 / 4; /* Span middle two columns to maintain proportional width */
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(145deg, #e2d5cc, #f0e6dd);    height: 100%;
}

.welcome-text {
    font-size: 25px;
    line-height: 1.5;
    color: #3b342d;    
    padding-bottom: 10px;
}
.learn-more-btn {
    align-self:flex-end;
    background-color: #6a5a4a;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Kreon", serif;
    font-weight: 500;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;        
}

.learn-more-btn:hover {
    background-color: #5a4c3e;
    transform: translateY(-2px);
}