body {
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

#beyondmebtw {
    font-family: "Calligraffitti", cursive;
    font-weight: 800;
    font-style:normal;

    font-size: 3.5vw;
    margin-top: 2vw;
}

#shortinfo {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;

    margin-top: 1.5vh;
    font-size: 1.5vw;
}

#entrytext {    
    display: flex;
    flex-direction: column;
    align-self: center;

    
    text-align: center;
}

#headerbuttons{
    position: absolute;
    display: flex;
    margin-top: 2vw;
    right: 0;
    margin-right: 2vw;
}
#projects,#blog{
    margin-left: 1vw;    
}

#projects,#blog,#about{
    font-size: 2vw;
    font-family: "Calligraffitti", cursive;
    font-weight: 600;
    font-style:normal;
    cursor: pointer;
}
