* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {

    max-width: 39%;
    margin: auto;
    position: relative;
    
}

.carou {
    overflow: hidden;
}

.slides {
    display: flex;
    width: max-content;
    height: 26.06vw;
    image-resolution: inherit;
    position: relative;

}

@media screen and (max-width:950px){
    img{
        width: 81vw;
        height: 54vw;
    }


    .slider{              
        max-width:81vw;
        height: 54vw;               
    }
    .carou{
        overflow: hidden;
    }

}

